node_modules
dist
.wrangler
.dev.vars

# Change them to your taste:
wrangler.toml
package-lock.json
yarn.lock
pnpm-lock.yaml
bun.lockb

.bin/
.cache/
.eslintrc.cjs
.mf/
.package-lock.json
.tmp/
.vite/

src/routeTree.gen.ts